.create-article {
  display: flex;
  flex-direction: column;
  margin-left: 12%;
  padding: 3em 4em;
}

.create-article__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
  background-color: rgba(200, 200, 200, 0.35);
  border-radius: 0.35em;
  color: lightseagreen;
}

.create-article__overlay__label {
  color: black;
  font-size: 18px;
}

.create-article__back__button {
  padding: 0.75em;
  margin-bottom: 2em;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.create-article__back__button:hover {
  background-color: gray;
}

.create-article__content__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.create-article__content__header__date__created {
  margin-bottom: 0.3em;
}

.create-article__content__header__action {
  display: flex;
  align-items: center;
}

.create-article__content__header__action button {
  padding: 0.75em;
  margin-left: 1em;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.create-article__content__header__action button:disabled {
  background-color: lightgrey;
  cursor: not-allowed;
}

.create-article__content__header__action__save-draft {
  background-color: rgb(117, 117, 255);
}

.create-article__content__header__action__save-draft:hover {
  background-color: rgb(71, 71, 171);
  cursor: pointer;
}

.create-article__content__header__action__publish {
  background-color: #49e14f;
}

.create-article__content__header__action__publish:hover {
  background-color: #32a936;
  cursor: pointer;
}

.create-article__content__header__action__delete {
  background-color: rgb(255, 49, 49);
}

.create-article__content__header__action__delete:hover {
  background-color: rgb(177, 25, 25);
  cursor: pointer;
}

.create-article__content__title,
.create-article__content__category {
  margin-bottom: 2em;
}

/* Editor container */
.tox.tox-tinymce.editor-container {
  border-color: #9f9f9f;
}
