.content {
  display: flex;
  justify-content: center;
  margin: 2em 8em;
}

.main-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 70%;
}

.main-content__posts {
  width: 100%;
}

.side-content {
  width: 25%;
  margin-left: 8rem;
  text-align: center;
}
